# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [13]:
2**2*20+500/5-79.750

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) #44
    
    What is the value of the expression 4 * 6 + 5 #29
    
    What is the value of the expression 4 + 6 * 5 #34

In [17]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br>float<br>

What would you use to find a numberâ€™s square root, as well as its square?

In [5]:
# Square root:
4**(1/2)

2.0

In [6]:
# Square:
4**2

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [21]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [25]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [26]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [27]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [35]:
# Method 1:
my_list = []
count = 3
while count <3:
    my_list.append(0)
    count+=1
print (x)

[0, 0, 0]

In [38]:
# Method 2:
x = []
x.append(0)
x.append(0)
x.append(0)
print (x)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [43]:
list3 = [1,2,[3,4,'goodbye']]
print (list3[-1][-1])

goodbye

Sort the list below:

In [46]:
list4 = [5,3,4,6,1]
list4.sort()
print ( list4 )

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [47]:
d = {'simple_key':'hello'}
# Grab 'hello'
print ( d.get('simple_key') )

hello

In [50]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print( d.get('k1').get('k2') )
print( 'method two gets: {}'.format(d['k1']['k2']) )

hello
method two gets: hello

In [54]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print( d.get('k1')[0].get('nest_key')[-1][0] )

hello

In [61]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print( d.get('k1')[-1].get('k2')[-1].get('tough')[-1][0] )

hello

#Can you sort a dictionary? Why or why not?<br> not as items but as keys or values<br>

In [71]:
my_dict = { 'wednesday':3,'thursday':4,'tuesday':2,'monday':1}
print ( sorted(my_dict.values()) )
print ( sorted(my_dict.keys()) )

[1, 2, 3, 4]
['monday', 'thursday', 'tuesday', 'wednesday']

## Tuples

What is the major difference between tuples and lists?<br>a list is mutable while a tuple is not.<br>

How do you create a tuple?<br>See below<br>

In [73]:
my_tuple = ('man','aged',16)
print( my_tuple )

('man', 'aged', 16)

## Sets

What is unique about a set?<br>A set has unique values<br>

Use a set to find the unique values of the list below:

In [75]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
print( sorted(set(list5)) )

[1, 2, 3, 4, 11, 22, 33]

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [76]:
# Answer before running cell
2 > 3 #False

False

In [77]:
# Answer before running cell
3 <= 2 #False

False

In [78]:
# Answer before running cell
3 == 2.0 #False

False

In [79]:
# Answer before running cell
3.0 == 3 #True

True

In [80]:
# Answer before running cell
4**0.5 != 2 #True

False

In [84]:
4**0.5

2.0

Final Question: What is the boolean output of the cell block below?

In [81]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] #False

False

## Great Job on your first assessment!